<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body style="background-color:silver">
<form action="register" method="post" style="padding-top:100px">
    {% csrf_token %}
  <div class="form" style="padding-left:450px">
      <div class="form-group col-md-6">
       <label for="inputAddress">Username</label>
       <input type="text" class="form-control" id="inputAddress" placeholder="enter the username" name="username">
      </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password" name="password">
    </div>

  <div class="form-group col-md-6">
    <label for="inputAddress">Conform Password</label>
    <input type="text" class="form-control"  placeholder="conform password" name="password1">
  </div>


    <div class="form-group col-md-6">
       <button type="submit" class="btn btn-primary">Sign in</button>
       <a href="{% url 'covidapp:main' %}">Home</a></button>
    </div>

  </div>
</form>
{% for msg in messages %}
<h3 style="color:#84DBA1">{{msg}}</h3>
{% endfor %}
</body>
</html>